body{
    background-color:#000000;
}

main{
    display:flex;
    flex-wrap:wrap;
}

header{    
	color:#FFFFFF;
    background-color:#000000;
}

.movie {
	align-items:center; 
    width:200px;
    margin:1.5rem; 
}

.movie img{
    width:100%;
}

.search{
    background-color:#FFFFFF;
    border-radius: 30px;
    color:#000000;
}

.movie_title{
	justify-content:space-between;
    color:#FFFFFF;
    display:flex;
    align-items:center; 
	font-size:small;
}

.vote_average{
	color:#FF0000;
}